@font-face {
	font-family: get_schwifty;
	src: local(Barrio), url(../fonts/get_schwifty.ttf)
}

/* Criação do tabuleiro */

#mainContainer{
    width: 100%;
    height: 400px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    text-align: center;
}

.rowContainer{
    display: flex;
}

.space{
    
    width: 38px;
    height: 38px;
    border: 2px solid rgb(27, 253, 27);

}

/* Criação das peças */

.playerOne {
    background-color: rgb(6, 151, 177); /* uma cor qualquer só para teste */
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.playerTwo {
    background-color: rgb(17, 6, 177); /* uma cor qualquer só para teste */
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

div.pieces {
    display: flex;

}

/* estilização dos popups */
.popUpPlayer1{

}

.popUpPlayer2{
    
}

.popUpDraw{
    
}


/* estilziando body */

body{
    background-image: url("../img/mobile\ fundo.jpg");
    background-size: cover;
    color: white;
    
}

h1{
    text-shadow: -3px 2px 7px #55CE23, -3px 2px 7px #FFEB24, -3px 2px 7px #FFEB24;
    color: teal;
    font-family: get_schwifty;
    padding-top: 60px;
}
