.playerOne {
    background-color: rgb(6, 151, 177); /* uma cor qualquer só para teste */
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.playerTwo {
    background-color: rgb(17, 6, 177); /* uma cor qualquer só para teste */
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

div.pieces {
    display: flex;
}